 img{
  width:100%;
  min-width:100%;
}


.navbar{
  position:fixed;
  background-color: rgba(0,0,0,0.6);
  width:100%;
  z-index:10;
  border-radius:0;
  border-color:transparent;
  color: #ffffff;
}

.navbar-default {
    background-color: rgba(0,0,0,0.6);
    border-color: transparent;
    color: #ffffff;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid #62addc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #62addc;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #efefef;
    }
}



/* Nav bar end */


#srchbx
{
    background-color: rgba(255,255,255,0.2);
    color: #eeeeee;
    border-color: #aaaaaa;
}
#carousel-example-generic{
    max-height: 600px;
    overflow: hidden;
}
.navbar-default .navbar-nav > li > a{
  color:#000;
  
}
.carousel-caption{
    top:150px;
    height: 100%;
}

#navcontainer{
    max-width: 80%;
}

#header1
{
    width: 100%; 
    border-bottom: 1px solid #666666; 
    margin-bottom: 20px; 
    padding:5px;
}

.navbar-default
{
    color: #ffffff;
}

#tilecontainer
{
   max-width: 80%; 
   position: relative; 
   top: -150px;
   margin-bottom: -50px;
   
}

.tile{
    
    min-height: 300px;
    margin: 10px;
    box-shadow: 0px 0px 15px #888888;
    padding: 20px;
    color: #ffffff;
    
}

.tile h4{
    font-weight: bold;
}


.doctile{
    
    min-height: 200px;
    margin: 10px;
    box-shadow: 0px 0px 15px #bbbbbb;
    padding: 0px;
    background-color: #ffffff;
    padding-bottom: 10px;
    
}
.doctile-sm{
    
    margin: 10px;
    box-shadow: 0px 0px 7px #bbbbbb;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
}

.doctile > .thumbnail{
    border: 0px;
}
.doc-thumbnail{
    border: 0px;
    height: 70px; 
    width: 70px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.doc-th-con
{
    width:70px; height: 70px ; background-color: #eeefff; border-radius: 5px 0px 0px 5px;
}
.doc-td-name{
    padding-bottom: 5px;  padding-top: 5px;padding-left: 5px; overflow: hidden;
}

.doc-td-book{
    background-color:#2f8ab9; color: #ffffff; width: 20px;cursor: pointer; border-radius: 0px 5px 5px 0px;
}

.doc-td-book:hover
{
    background-color:#31708f;
}

.doc-p-exp
{
    font-size: 10px; color: #bbbbbb; padding-left:5px;
}

#tile1
{
    background-color: #45c4f3;
}
#tile2
{
    background-color: #49d129;
}
#tile3
{
    background-color: #1495ba;
}

.row2
{
    background-color: #eeefff;
    width: 100%;
    padding-top:0px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}

.doctile .thumbnail
{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.doctile-sm .thumbnail
{
    height: 70px;
    width: 70px;
    overflow: hidden;
}

.doctile-sm .img-circle
{
    height: 60px;
    width: 70px;
}

.doctile .thumbnail img{
    
    width: 100%;
    height: auto;
    display: block;
}

#footer
{
    background-color: #606060;
    width: 100%;
    color: #aaaaaa;
    padding-top:1 0px;
    font-size: 10px;
}

#footer a
{
    color: #bdc1c2;
}
#footer a:hover
{
    color: #33e65d;
}

#footer hr{
    border-top-color: #aaaaaa;
}


.vertical-center {
    background-color: #4288b5;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#login_container
{
    max-width: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #555555;
    border-radius: 5px;
    text-align: center;
    padding:20px;
}

.logininputs
{
    width: 100%;
    
}



/* Side Nav Bar Menu ================================================================*/
/* The side navigation menu */
.sidebar {
  margin: -10px;
  padding: 0px;
  width: 160px;
  background-color: #1e6998;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  font-family: "Calibri";
  
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  color: #aaaaaa;
}

/* Active/current link */
.sidebar a.active {
  background-color: #6ab2e0;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #3cf088;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 160px;
  padding: 16px 16px;
  height: 100%;
  
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}    

/* Side Navbar ends here ========================================================================= */


.adminframe
{
    border: 0px;
    width: 100%;
    height: 100%;
}


.dashtile
{
    border-radius: 10px;
    box-shadow: 2px 3px 7px #cccccc;
    min-height: 200px;
    padding: 7px;
    margin: 10px;
    text-align: center;
}

.tile_sm
{
    background-color: #efffff;
    box-shadow: 0px 0px 5px #aaaaaa;
    border-radius: 3px;     
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}

.tile_sp
{
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 10px;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #000000;
    min-height: 150px;
    max-width: 370px;
}

.srchimg
{
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-color: #4288b5;
}

.srchsubtxt
{
    color: #bbbbbb;
    border-top: 1px solid #efefef;
    padding: 7px 0px 7px 0px;
}

.tile_sp .srchsubtxt
{
    font-size: 12px;
    color: #D6FBFF;
    border-top: none;
    padding: 0px 0px 0px 0px;
    
}
.tile_sp > a{
    color: white;
}

.vgap
{
    margin: 10px;
    padding: 10px;
}


.banner-caption
{
    color: #fffff;
    position: relative;
    top: 150px;
    left: 250px;
    
    width: 400px;
}


.spclhead
{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
    padding-left: 3px;
}

#appointmentframe
{
    border: 0px;
    overflow: auto;
    width: 100%;
    height: 300px;
}

.testtile
{
    margin: 3px;
}

.plate
{
    margin-top: 20px;
    background-color: #fcfcfc;
    border-radius: 5px;
    width:100%;
    padding: 10px;
    font-size: 12px;
    color: #aaaaaa;
    border:1px solid #eeeeee;
}
.labtile{
    margin: 10px; 
    box-shadow: 0px 0px 5px #000000; 
}
.labtiletd1c1
{
    background-color: #525064;
    color: #ffffff;
    height: 150px;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 11px;
}

.labtiletd1c1 > h5
{
    border-bottom: 1px solid #999999;
    padding: 3px;
    font-size: 12px;
}

.labtiletd2c1
{
    background-color: #ffffff;
    color: #000000;
    padding: 5px; 
    height: 120px;
    min-width: 50%;
    font-size: 10px;
    overflow: auto;
}

.labtiletd2c2
{
    background-color: #38acf4;
    color: #ffffff; 
    padding: 4px; 
    height: 30px;
    width: 100%;
    text-align: left;
    text-align: center;
    font-size: 12px;
}
.labtiletdtitle
{
   padding:3px;
   font-weight: bold;
   border-bottom: 1px solid #eeeeee;
   font-size: 12px;
}